<!-- ## LARGE SCREEN NavBar Component ## -->
<!-- The Main Navbar of bootstrap with theme as Dark with fixed as top,
will be only visible in large screens, also fixing the navbar height, so that changing
brand logo height does not affect the navbar height as it is fixed -->
<nav class="navbar navbar-expand-lg bg-black fixed-top" data-bs-theme="dark" style="height: 54px;" *ngIf="!isSmallScreen">
    <!-- Declare the Main Container as fluid for Device Responsive ness,
    also divide the navbar in 3 portions like row-col -->
    <div class="container-fluid row">
        <!-- First col-1 poriton for the Brand Logo -->
        <div class="col-1 mt-4 me-5">
            <!-- Provide a Brand Logo with the Same Home Page as Anchor to it-->
            <a class="navbar-brand" href="#">
                <!-- Giving proper brand image height and some margin and styles for alignment -->
                <img src="../../../assets/brand_logo.png" class="brand-logo" alt="brand_logo">
            </a>
        </div>

        <!-- Navbar toggler hamburger button with icon -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- This is the 2nd column division in the navbar which consists the menu links-->
        <div class="col-5">
            <!-- Inside this collapsable div we define the menu items of the navbar -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Declaring a un-ordered list which will contain the listItems as the navbar options -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- First Iterate the Normal Single List items without Dropdown links, and add them in Navbar -->
                    <li id="largeScreenListItems" class="nav-item" *ngFor="let item of singleListItems">
                        <a 
                            routerLinkActive="active-link"
                            [routerLinkActiveOptions]="{exact:true}"
                            class="largeScreenAcnhors" [routerLink]="item.path"
                        >
                            {{item.name | uppercase}}
                        </a>
                    </li>
    
                    <!-- Define the List items with drop down & options as router links 
                    iterate each items and create one dropdown list item-->
                    <li *ngFor="let item of dropDownListItems" id="largeScreenListItems" class="nav-item dropdown">
                        <!-- Give the heading of the Drop-down opener dynamically from the item 
                        also make the routerLinkActive action to highlight it when it is active page-->
                        <a 
                            [routerLink]="item.name" 
                            routerLinkActive="active-link"
                            [routerLinkActiveOptions]="{exact:true}" 
                            class="nav-link dropdown-toggle largeScreenAcnhors" 
                            role="button" data-bs-toggle="dropdown" 
                            aria-expanded="false"
                        >
                            {{item.name | uppercase}}
                        </a>
    
                        <!-- Now, define the inner menu or options with in the drop-down via unordered list -->
                        <ul class="dropdown-menu">
                            <!-- Iterate the nested array and create each drop-down options or items -->
                            <li *ngFor="let element of item.paths;let i = index">
                                <!-- embed each option with a link or anchor or route path -->
                                <a id="nestedListAnchors" class="dropdown-item" [routerLink]="element.path">{{element.title | uppercase}}</a>
                                
                                <!-- Define a Divider line, except after the last option don't include it
                                that is why upto before the last index it will give a divider(for 0,1 it will give
                                for 2 index it will not give divider) -->
                                <hr *ngIf="i<item.paths.length-1" class="dropdown-divider"/>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Define some blank space in between the menu links and the right hand side download button container -->
        <div class="col-1">

        </div>

        <!-- This container(row) will be in Absolute right and will contain these as cols -:
          side download button, language drop down, and user login will go here 
          So this outer container is further chunked into 3 parts for 3 buttons basically 
          some margin-left is configured to properly allign the container at the right hand side
        -->
        <div class="col-5 justify-content-center align-items-center d-flex flex-wrap" style="margin-left: 85px;">
            <!-- This is the first part for representing the language selection icon and button -->
            <div style="margin-bottom: 3px;">
                <!-- Define the Dropdown for Langauge Selection -->
                <div class="dropdown">
                    <!-- Give the Globe Icon as the Dropdown selection icon -->
                    <img 
                        class="dropdown-toggle" 
                        data-bs-toggle="dropdown"
                        src="https://www.marvelrivals.com/pc/gw/20241128194803/img/lan_1e24db6d.png" 
                        alt="globe_icon"
                        height="21" 
                    />
                    <div class="dropdown-menu dropdown-menu-lg-end">
                      <a class="dropdown-item" href="#">English</a>
                      <a class="dropdown-item" href="#">Bengali</a>
                      <a class="dropdown-item" href="#">Spanish</a>
                    </div>
                </div>
            </div>

            <!-- This is the 2nd part for representing the User Login button -->
            <div class="ms-1">
                <a id="largeScreenAcnhors" class="bi bi-person-circle btn" style="font-size: 16px;" role="button"> LOG IN</a>
            </div>

            <!-- This column is used to show the big Download button -->
            <div id="downloadButtonForLargeScreen" class="w-50 fs-3" role="button">
                DOWNLOAD
            </div>
        </div>
    </div>
</nav>



<!-- ## SMALL SCREEN NavBar Component ## -->
<!-- Only visible small handset breakpoint screens -->
<nav class="navbar navbar-expand-sm bg-black fixed-top row" data-bs-theme="dark" *ngIf="isSmallScreen" style="height: auto;">
    <!-- Declare the Main Container as fluid for Device Responsive ness,
    Also make this row so it can be further divided into 3 parts one part
    for the brand logo next the download button and the lastone is for 
    hamburger logo and login button in the small screen nav -->
    <div class="container-fluid justify-content-center align-items-center d-flex">
        <!-- The first division is for the Brand-Logo -->
        <div class="col-1 ms-1">
            <!-- Provide a Brand Logo with the Same Home Page as Anchor to it-->
            <a class="navbar-brand" href="#">
                <!-- Giving proper brand image height and some margin and styles for alignment -->
                <img 
                    src="../../../assets/brand_logo.png" 
                    style="height: 25px;" 
                    alt="brand_logo"
                    class="mb-2"
                >
            </a>
        </div>

        <!-- The 2nd division is for the Download button -->
        <div class="col-2 text-center">
            <div id="downloadButtonForSmallScreen" class="text-center" role="button">
                DOWNLOAD
            </div>
        </div>

        <!-- The 3rd division is for the Hamburger button and the Login button -->
        <div class="col-8 ms-3">
            <span style="font-size: 10px; float: right;">
                <a href="" class="bi bi-person-circle text-decoration-none text-white fw-bold">
                    LOG IN
                </a>
                <span 
                    class="navbar-toggler" 
                    data-bs-toggle="collapse" 
                    data-bs-target="#navbarSupportedContent" 
                    (click)="hamburgerIconColorChange()"
                >
                    <!-- Conditionally change the hamburger icon color on the click of the button -->
                    <i 
                        [ngClass]="isHamburgerClicked?'bi bi-list text-warning':'bi bi-list text-white'" 
                        id="hamBurgerIcon">
                    </i>
                </span>
            </span>
        </div>
    </div>


    <!-- Next work on the contents of the collapsable navigation window?? -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                </a>
                <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li>
        </ul>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>

