/* Styles for Brand Logo */
.brand-logo {
    height: 43px;
    width: 98px;
    display: block;
    margin-left: 23px;
}

/* Styles for the Anchor tags */
.largeScreenAcnhors{
    font-family: monospace;
    font-weight: bold;
    color: lightgray;
    font-size: 20px;
    text-decoration: none;
}
/* On hover just bright the color of the gray to white */
.largeScreenAcnhors:hover{
    font-weight: bolder;
    color: white;
}

/* Styles for the Login Icon in the Big screen Navbar with hover affects*/
#largeScreenLoginButton{
    color: lightgray !important;
}
#largeScreenLoginButton:hover{
    color: white !important;
}

/* Styles for the list items to have some margin left attribute */
#largeScreenListItems{
    margin-left: 5px;
    margin-right: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* Styles for the yellow download button at the right end for large screen */
#downloadButtonForLargeScreen{
    text-align: center;
    font-family: monospace;
    font-weight: bolder;
    background-color: yellow;
    padding: 6px;
    clip-path: polygon(8% 0%, 100% 0%, 100% 100%, 0% 100%); /* Clip path is used to give the inclined affect to the download button */
}

/* Styles for the yellow download button at the middle for small screen */
#downloadButtonForSmallScreen{
    background-color: yellow;
    color: black;
    font-weight: bolder;
    text-align: center;
    height: 32px; /* Makes it stretch to full navbar height */
    padding: 2px; /* Removes extra space */
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);/* Clip path is used to give the inclined affect to the download button */
    font-size: 20px;
    width: 140px;
    margin-left: 40px;
}

/* Styles for the drop down list items hover affect */
#nestedListAnchors{
    font-weight: bolder;
    color: white;
}
#nestedListAnchors:hover{
    font-weight: bolder;
    color: yellow;
}

/* Create a class to apply a special affect for the Active Anchor or Router path */
.active-link{
    font-weight: bolder;
    color: yellow !important;
}

/* Define styles for Hamburger icon in small Screen */
#hamBurgerIcon{
    font-size: 16px;
    font-weight: bold;
    color: white;
}

/* Define styles for small screen menu anchors */
.smallScreenAnchors{
    font-family: monospace;
    font-size: 21px;
    font-weight: bold;
    color: lightgray !important;
    text-decoration: none;
}
.smallScreenAnchors:hover{
    color: yellow !important;
}
