<!-- ## LARGE SCREEN NavBar Component ## -->
<!-- The Main Navbar of bootstrap with theme as Dark with fixed as top,
will be only visible in large screens, also fixing the navbar height-->
<nav class="navbar navbar-expand-lg bg-black fixed-top" data-bs-theme="dark" style="height: 54px;" *ngIf="!isSmallScreen">
    <!-- Declare the Main Container as fluid for Device Responsive ness -->
    <div class="container-fluid">
        <!-- Provide a Brand Logo with the Same Home Page as Anchor to it-->
        <a class="navbar-brand" href="#">
            <!-- Giving proper brand image height and some margin and styles for alignment -->
            <img src="../../../assets/brand_logo.png" class="brand-logo" alt="brand_logo">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>