<!-- ## LARGE SCREEN NavBar Component ## -->
<!-- The Main Navbar of bootstrap with theme as Dark with fixed as top,
will be only visible in large screens, also fixing the navbar height, so that changing
brand logo height does not affect the navbar height as it is fixed -->
<nav class="navbar navbar-expand-lg bg-black fixed-top" data-bs-theme="dark" style="height: 54px;" *ngIf="!isSmallScreen">
    <!-- Declare the Main Container as fluid for Device Responsive ness -->
    <div class="container-fluid">
        <!-- Provide a Brand Logo with the Same Home Page as Anchor to it-->
        <a class="navbar-brand" href="#">
            <!-- Giving proper brand image height and some margin and styles for alignment -->
            <img src="../../../assets/brand_logo.png" class="brand-logo" alt="brand_logo">
        </a>

        <!-- Navbar toggler hamburger button with icon -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Inside this collapsable div we define the menu items of the navbar -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Declaring a un-ordered list which will contain the listItems as the navbar options -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- First Iterate the Normal Single List items without Dropdown links, and add them in Navbar -->
                <li id="largeScreenListItems" class="nav-item" *ngFor="let item of singleListItems">
                    <a id="largeScreenAcnhors" [routerLink]="item.path">{{item.name | uppercase}}</a>
                </li>

                <!-- Define the List items with drop down & options as router links 
                iterate each items and create one dropdown list item-->
                <li *ngFor="let item of dropDownListItems" id="largeScreenListItems" class="nav-item dropdown">
                    <!-- Give the heading of the Drop-down opener dynamically from the item -->
                    <a [routerLink]="item.name" id="largeScreenAcnhors" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{item.name | uppercase}}
                    </a>

                    <!-- Now, define the inner menu or options with in the drop-down via unordered list -->
                    <ul class="dropdown-menu">
                        <!-- Iterate the nested array and create each drop-down options or items -->
                        <li *ngFor="let element of item.paths;let i = index">
                            <!-- embed each option with a link or anchor or route path -->
                            <a class="dropdown-item" [routerLink]="element.path">{{element.title | uppercase}}</a>
                            
                            <!-- Define a Divider line, except after the last option don't include it
                            that is why upto before the last index it will give a divider(for 0,1 it will give
                            for 2 index it will not give divider) -->
                            <hr *ngIf="i<item.paths.length-1" class="dropdown-divider"/>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- Absolute right side download button will go here -->
            <form class="d-flex" role="search">
                <button class="btn btn-outline-warning p-2 fw-bold fs-4" style="width: 200px; height: 50px;" type="submit">DOWNLOAD</button>
            </form>
        </div>
    </div>
</nav>


<!-- ## SMALL SCREEN NavBar Component ## -->
<!-- Only visible small handset breakpoint screens -->
<nav class="navbar navbar-expand-lg bg-black fixed-top" data-bs-theme="dark" *ngIf="isSmallScreen">
    <!-- Declare the Main Container as fluid for Device Responsive ness -->
    <div class="container-fluid">
        <!-- Provide a Brand Logo with the Same Home Page as Anchor to it-->
        <a class="navbar-brand" href="#">
            <!-- Giving proper brand image height and some margin and styles for alignment -->
            <img src="../../../assets/brand_logo.png" style="height: 30px;" alt="brand_logo">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>