/* Styles for Brand Logo */
.brand-logo {
    height: 43px;
    width: 98px;
    display: block;
    margin-left: 23px;
}

/* Styles for the Anchor tags */
#largeScreenAcnhors{
    font-family: monospace;
    font-weight: bold;
    color: lightgray;
    font-size: 20px;
    text-decoration: none;
}
/* On hover just bright the color of the gray to white */
#largeScreenAcnhors:hover{
    font-weight: bolder;
    color: white;
}

/* Styles for the list items to have some margin left attribute */
#largeScreenListItems{
    margin-left: 45px;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* Styles for the yellow download button at the right end for large screen */
#downloadButtonForLargeScreen{
    text-align: center;
    font-family: monospace;
    font-weight: bolder;
    background-color: yellow;
    padding: 6px;
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
}

/* Styles for the drop down list items hover affect */
#nestedListAnchors{
    font-weight: bolder;
    color: white;
}
#nestedListAnchors:hover{
    font-weight: bolder;
    color: yellow;
}
